.wrapper {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top p {
    margin: 0;
}

.top {
    margin: 30px 0;
}

.wrapper > p:last-of-type {
    margin-top: 20px;
}