* {
  box-sizing: border-box;
}

:root {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.app {
  padding-bottom: 20px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 2.2em;
  font-weight: 800;
  line-height: 1.1;
  margin: 20px 0;
}

h2, h3 {
  margin: 0;
  font-weight: 800;
}

p {
  margin: 10px 0;
  font-size: 1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.mobileOnly {
  display: none;
}

@media screen and (min-width: 481px) {
  main {
    display: none;
  }

  .mobileOnly {
    display: block;
  }
}
